<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "com.uamoto.app"
        versionCode = "10"
        version     = "1.4.0">

    <name>Мотобазар України</name>

    <description>
        Додаток для смартфонів.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FFFFFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/06342dffa40399e91238597e631c16bc.png" density="ldpi" />
        <icon src="res/android/icon/1385b3f133ccbdca2a24fd37bde277b1.png" density="mdpi" />
        <icon src="res/android/icon/505383f25728c0d6182c3bf8c73ba1e7.png" density="hdpi" />
        <icon src="res/android/icon/129e93dd09d036b00f2c016103de0c85.png" density="xhdpi" />
        <icon src="res/android/icon/9fecdad9c553392a249a96917d2f1b65.png" density="xxhdpi" />
        <icon src="res/android/icon/2d3115795d29ed07fc91f3e50fd2f956.png" density="xxxhdpi" />

        <splash src="res/android/screen/87df2e2e3933cc24b5d186a505a43a28.png" density="port-hdpi"/>
        <splash src="res/android/screen/2f11471155d59c2de4463c01b10b4422.png" density="port-ldpi"/>
        <splash src="res/android/screen/62ebe477dc4f5c975dadfafcec0bc6b9.png" density="port-mdpi"/>
        <splash src="res/android/screen/f460200b8857d1fc8ed98cf6d43b2615.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/85346930241bd79d178e35b954fbb3b6.png" width="180" height="180" />
        <icon src="res/ios/icon/237d9b870db482f918da5e2b21b6a4ab.png" width="60" height="60" />
        <icon src="res/ios/icon/c444e4226a356672c118ea47c5702cfc.png" width="120" height="120" />
        <icon src="res/ios/icon/e3089a02ed141ae3d68382691bcaacfb.png" width="76" height="76" />
        <icon src="res/ios/icon/bf8e6a65767da23db30f26cb4804801b.png" width="152" height="152" />
        <icon src="res/ios/icon/b2f88468e93ff72df4996ac18de14e85.png" width="57" height="57" />
        <icon src="res/ios/icon/0fcc37d9bcce06531167277eee527991.png" width="114" height="114" />
        <icon src="res/ios/icon/e2974d42fbf3edbd6235072ac1d0a7a5.png" width="72" height="72" />
        <icon src="res/ios/icon/6f26151fa2197a4e355bd632917ee00f.png" width="144" height="144" />
        <icon src="res/ios/icon/af69aed29e64ef5ea981277df371a38e.png" width="167" height="167" />
        <icon src="res/ios/icon/76622c6d64bf0d2bcf83b95d921db28d.png" width="29" height="29" />
        <icon src="res/ios/icon/820666c3c10b09b85746c390b179052a.png" width="58" height="58" />
        <icon src="res/ios/icon/ada45ae9a6a2d4f96c7c60394c2fea69.png" width="87" height="87" />
        <icon src="res/ios/icon/9d41739cd181d852825613c035ea466a.png" width="167" height="167" />

        <splash src="res/ios/screen/6bf85c406adb6e912faee7b52ae38cff.png" />
        <splash src="res/ios/screen/7bfabe32bd592ab1ba4936f7e8b958b4.png" />
        <splash src="res/ios/screen/705146ab652ed77eb68d0a777a62ced8.png" />
        <splash src="res/ios/screen/854e61fc9a61399139e86ac4b28c94d1.png" />
        <splash src="res/ios/screen/e7c177391139624459e18a743e953ee0.png" />
        <splash src="res/ios/screen/fe3206029e9a33e11fb8bea62787f436.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/952e06a5e5a5f639fa563b9f9f48f890.png" target="StoreLogo" />
        <icon src="res/windows/icon/1de1145f346d556a7b0980d973b9f963.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/ca228648fd2b6e451caf1a87c1934aef.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/a4138f2ac06e8564b943fddd9d5f4b83.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/30236ed7e8935a24271c0bcddbdbadd8.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/03eedd0ec88a2ae617a314b7c687fd5e.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/7183f29c013eb6470fb919e1941917e4.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/9a8f70aeacab7c32198bb61f01aa5fbe.png" target="SplashScreen"/>
        <splash src="res/windows/screen/1d873e5bca55143cc8c1fbac8d9c99ae.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>